<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879694553745-4fr1u1rjopus8u4go8ahctk1ijv8bun6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879694553745-4fr1u1rjopus8u4go8ahctk1ijv8bun6</string>
	<key>API_KEY</key>
	<string>AIzaSyAXknyaWCjDkvfIsu8RDm5ka257AlHzu7g</string>
	<key>GCM_SENDER_ID</key>
	<string>879694553745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osvald.NoteFireApp</string>
	<key>PROJECT_ID</key>
	<string>notebookapp-9c16b</string>
	<key>STORAGE_BUCKET</key>
	<string>notebookapp-9c16b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879694553745:ios:e5f23a5860862d75181530</string>
	<key>DATABASE_URL</key>
	<string>https://notebookapp-9c16b.firebaseio.com</string>
</dict>
</plist>